  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }




  #copyright_section p {
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: normal;
  }

  #tituloJapon {
    font-family: 'Atma', cursive;
    color: white;
    margin-left: 1rem;
    margin-top: 0.5rem;
    text-shadow: 1px 1px 2px black;
    /*sombra*/
  }

  span {
    color: red;
  }

  #logoIMG {
    width: 1.8rem;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
    padding-top: 1rem;
  }

  /*lista menú*/
  .menu li {
    list-style: none;
  }

  /*palabras menú*/
  .menu a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }

  .menu li:hover a {
    background-color: white;
    color: rgb(48, 47, 47);
    transition: ease-in .4s;
    border-radius: 2rem;
    padding: 0.8rem;
  }

  main {
    background: rgba(248, 138, 64, 0.5);
    padding-bottom: 1rem;
  }

  #img_gastronomia {
    display: flex;
    width: 100%;
    height: 41rem;
    padding: 0rem;
    border-radius: 0%;
  }


  #gastronomiaJapon {
    font-family: 'Concert One', cursive;
    font-size: 4.5rem;
    text-align: center;
    padding-top: 1.5rem;
    color: darkcyan;
    text-shadow: 1px 1px 2px black;
  }

  h2 {
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    font-size: xxx-large;
    color: rgb(19, 2, 19);
    margin: 2rem 5rem;
    padding-bottom: 0rem;
  }

  #Platos_típicos h3 {

    font-family: 'Concert One', cursive;
    font-size: 4rem;
    text-align: center;
    padding-top: 1.5rem;
    color: darkcyan;
    text-shadow: 1px 1px 2px black;
  }

  .plato {
    display: flex;

  }

  #Postres h3 {
    font-family: 'Concert One', cursive;
    font-size: 4rem;
    text-align: center;
    padding-top: 1.5rem;
    color: darkcyan;
    text-shadow: 1px 1px 2px black;
  }

  .subir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #f00;
    color: #fff;
    text-decoration: none;
  }




  /*FOOTER*/
  footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
  }

  #footer_info {
    display: flex;
    justify-content: space-evenly;
  }

  .info_foot {
    width: 35rem;
    display: inline-flex;
    justify-content: space-evenly;
  }

  .links_foot {
    color: white;
    text-decoration: none;
    padding: 1rem;
  }

  .links_foot:hover {
    color: white;
    font-size: 1rem;
  }



  .fab {
    /*redes*/
    color: rgb(206, 206, 206);
    font-size: 2rem;
    padding: 1rem;
  }

  .fab:hover {
    /*redes al colocarse*/
    color: white;
    font-size: 2.2rem;
  }

  #copyright_section {
    text-align: center;
    color: white;
  }

  li {
    text-decoration: none;
    list-style: none;
  }

  .st{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 40%;
    min-width: 3rem;
    padding: 1.1rem;
    font-size: 1.5rem;
    margin: 1rem 10rem 3rem 5rem;
    font-family: 'Noto Serif JP', serif;
    text-align: justify;
  }
  
  img {
    width: 40%;
    height: 20%;
    min-width: 10rem;
    padding: 1rem;
    border-radius: 10%;
  }
  
  /* estuve probando con las medias siguientes para hacerlo responsive, pero aun tengo  que solucionar esa consigna y
   el tema de las imagenes, revisar el img y el class .st. Tambien revisar el titulo_plato */
  
  /* tablet en orientación horizontal */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .st {
      /* Ajusta el tamaño del contenedor */
      width: 60%;
    }
    img {
      /* Ajusta el tamaño de la imagen */
      width: 40%;
      height: auto;
    }
    .titulo_plato {
      /* Ajusta el tamaño de fuente y espaciado */
      font-size: 1.8rem;
      padding: 0.5rem;
    }
  }
  
  /* PC escritorio*/
  @media screen and (min-width: 1024px) {
    .st {
      
      width: 40%;
    }
    img {
      width: 40%;
      height: auto;
    }
    .titulo_plato {
      font-size: 2.1rem;
      padding: 1rem;
    }
  
  }
  @media screen and (max-width: 768px) {
    .stg {
      flex-direction: column;
    }
    .stg img {
      width: 100%; 
      margin-bottom: 1rem; 
    }
  }
  
  
  /* titulo para cada plato y postre, en vertica*/


 .titulo_plato {
  font-family: 'Concert One', cursive;
  font-size: 2.1rem;
  padding: 1rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  letter-spacing: 0.5rem;
  color: darkcyan;
  text-shadow: 1px 1px 2px black;
}

@media (max-width: 768px) {
  .titulo_plato {
    writing-mode: horizontal-tb;
    text-orientation: mixed;
    letter-spacing: 0;
    padding: 0.5rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .titulo_plato {
    font-size: 1.5rem;
  }
}

  #flecha-arriba {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

#ico-arriba{
    font-size: 2rem;
    color:teal;
}